
<div class="container">
<div class="card col-md-12 my-3 bg-light">
  <div class="card-header">
    <h4>Who To Follow</h4>
  </div>
  <ul class="list-group bg-light">
    <a href="#" class="non"><li class="list-group-item">
    <h5><img src="/assets/pmo.png" class="image"> PMO India </h5>    
    </li></a>
    <a href="#" class="non"><li class="list-group-item">
    <h5><img src="/assets/cmo.jpg" class="image"> CMO Odish</h5>    
    </li></a>    
    <a href="#" class="non"><li class="list-group-item">
    <h5><img src="/assets/sambit.jpg" class="image"> Sambit Patra</h5>    
    </li></a> 
  </ul>
</div>
<div class="card col-md-12  my-3 bg-light">
  <div class="card-header">
    <h4>Topic To Follow</h4>
  </div>
  <ul class="list-group bg-light">
    <a href="#" class="non"><li class="list-group-item">
    <p>Politics <span style="float:right"> <button class="btn btn-outline-primary">Follow</btton> <span> 
    </li></a>
    <a href="#" class="non"><li class="list-group-item">
     <p> Cricket  <span style="float:right"> <button class="btn btn-outline-primary">Follow</btton> <span> 
    </li></a>    
    <a href="#" class="non"><li class="list-group-item">
   <p> Bollywood  <span style="float:right"> <button class="btn btn-outline-primary">Follow</btton> <span> 
    </li></a> 
  </ul>
</div>
</div>