
<% if user_signed_in? %>
      <div class="row">
            <div class="col-md-3 rt-border">
            <%= render 'layouts/navbar' %>
            </div>
            <div class="col-md-6 rt-border" >
            <%= render 'feed' %>
            </div>
            <div class="col-md-3 " >
            <%= render 'who-to-follow' %>
            </div>
      </div>
      <% else %>
      <%= render "layouts/signup.html.erb" %>
<% end %>
































































    
 

 


































   