
<div class="sidenav col-md-12 pt-0">
  <%= link_to root_path, class:"navbar-item" do %>
    <h1 class="twitter text-center"><i class="fa fa-twitter"></i></h1>
  <% end %>
  <%=link_to tweets_path, style:"text-decoration:none;" do %>
    <i class="fa fa-home icon non"></i> Home
  <% end %>  
  <a style="text-decoration:none; " href="#"> <i class="fa fa-hashtag icon"></i>  Explore</a>
  <a style="text-decoration:none; " href="#"> <i class="fa fa-bell icon"></i>  Notifications</a>
  <a style="text-decoration:none; " href="#"> <i class="fa fa-envelope icon"></i>  Messages</a>
  <a style="text-decoration:none; "  href="#"> <i class="fa fa-user-circle icon"></i>  Profile</a>
  <a style="text-decoration:none; " href="#"> <i class="fa fa-caret-down icon"></i>  More</a>
  <%= link_to  new_tweet_path ,class:"btn btn-info px-2 mt-2" do%>
     <i class="fa fa-twitter"></i> Tweet
  <% end %>
</div>

    