<div class="row">
    
    <div style="max-width:50%;height:585px;">
        <img src="/assets/twitter.jpg" class="tweet">
    </div>
    <div style="max-width:50%;position:relative;" >
    <h1 class="center" style=" font-weight: 900;font-size:60px">
    <i class="fa fa-twitter twitter"></i>
    <br>
    Happening Now
    <br>
    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-info px-5 py-2" ,style:"border-radius:20px; width:300px" %>
    <br>
    <%= link_to "Log In", new_user_session_path, class:"btn btn-outline-info px-5 py-2 " ,style:"border-radius:20px; width:300px" %>
    </h>
    </div> 
</div>